<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Affiliates Page</title>
   <link rel="stylesheet" href="css/home.css">
   <script src="js/navbar.js" defer></script>
   <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
   <link rel="stylesheet" href="css/affiliates.css">
</head>

<body>
   <div id="navbar"></div>
   <div class="affiliates-container">
   
      <div class="affiliates-title">Affiliates</div>
      <p class="affiliates-main-subtitle">Support us by using our affiliate links.</p>
      <p class="affiliates-subtitle"> We only provide affiliate links to projects that we
         trust and use every day.</p>
   
      <div class="affiliates-cards">
         <div class="affiliates-card">
            <div class="affiliates-icons">
               <img src="images/hetzner.png" alt="Hetzner Logo">
            </div>
            <div class="affiliates-card-description">One of the cheapest and reliable VPS providers.</div>
            <div class="affiliates-card-title">
               <div class="A-title">
                  <span>Hetzner</span>
                  <a href="#" class="affiliates-card-link">Hosting Provider</a>
               </div>
               <i class="fas fa-globe"></i>
            </div>
   
         </div>
   
         <div class="affiliates-card">
            <div class="affiliates-icons">
               <img src="images/pocket.svg" alt="Pocket Logo">
            </div>
            <div class="affiliates-card-description">Easiest way to buy Bitcoins without KYC.</div>
            <div class="affiliates-card-title">
               <div class="A-title">
                  <span>Pocket</span>
                  <a href="#" class="affiliates-card-link">Buy Bitcoins</a>
               </div>
               <i class="fas fa-globe"></i>
            </div>
         </div>
   
         <div class="affiliates-card">
            <div class="affiliates-icons">
               <img class="ledger" src="images/ledger.svg" alt="Ledger Logo">
            </div>
            <div class="affiliates-card-description">Secure way to store your cryptocurrencies.</div>
            <div class="affiliates-card-title">
               <div class="A-title">
                  <span>Ledger</span>
                  <a href="#" class="affiliates-card-link">Hardware Wallet</a>
               </div>
               <i class="fas fa-globe"></i>
            </div>
         </div>
   
         <div class="affiliates-card">
            <div class="affiliates-icons">
               <img class="ledger" src="images/yubico.svg" alt="Ledger Logo">
            </div>
            <div class="affiliates-card-description">Secure your online accounts with hardware 2FA.</div>
            <div class="affiliates-card-title">
               <div class="A-title">
                  <span>Yubico</span>
                  <a href="#" class="affiliates-card-link">Security Key</a>
               </div>
               <i class="fas fa-globe"></i>
            </div>
         </div>
   
      </div>
   </div>
   <div id="footer"></div>
</body>

</html>