<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Donation Page</title>
   <link rel="stylesheet" href="css/home.css">
   <script src="js/navbar.js" defer></script>
   <link rel="stylesheet" href="css/donation.css">
</head>
<body>
   <div id="navbar">
</div>

<div class="donation-container">
   <h3 class="donation-title">DONATION</h3>
   <h1 class="donation-header">Like what you see?</h1>
   <p class="donation-subtitle">Support our work, to continue providing free and open-source software.</p>
   <div class="donation-items">
      <div class="donation-item">
         <img src="images/realgithub.png" alt="GitHub" class="donation-image">
         <p class="donation-text">GITHUB</p>
      </div>
      <div class="donation-item">
         <img src="images/realliberpay.png" alt="Liberapay" class="donation-image">
         <p class="donation-text">LIBERAPAY</p>
      </div>
      <div class="donation-item">
         <img src="images/icons8-ko-fi-100.png" alt="Ko-Fi" class="donation-image">
         <p class="donation-text">KO-FI</p>
      </div>
      <div class="donation-item">
         <img src="images/realbuymecofee.png" alt="Buy Me a Coffee" class="donation-image">
         <p class="donation-text">BUY ME A COFFEE</p>
      </div>
      <div class="donation-item">
         <img src="images/realopencollective.png" alt="Open Collective" class="donation-image">
         <p class="donation-text">OPEN COLLECTIVE</p>
      </div>
      <div class="donation-item">
         <img src="images/realpatreon.png" alt="Patreon" class="donation-image">
         <p class="donation-text">PATREON</p>
      </div>
   </div>
</div>
   <div id="footer">
   
   </div>
</body>
</html>