<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Pricing Page</title>
   <link rel="stylesheet" href="css/home.css">
   <script src="js/navbar.js" defer></script>
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
   <link rel="stylesheet" href="css/pricing.css">
</head>
<body>
   
   <div id="navbar"></div>
   
   <div class="main-container">
   <div class="pricing-content">
      <h2>Pricing</h2>
      <p class="pricing-ptag">The right price for you, whoever you are</p>
      <p>
         Using Passky doesn’t require an upfront cost or monthly subscription. It’s completely free to
         download and can be hosted by anyone who has the
         space to do so.
      </p>
   </div>
   
   <div class="pricing-container">
      <div class="pricing-card">
         <h3>Premium</h3>
         <p class="price">$2 per month</p>
         <p>$24 billed annually</p>
         <hr>
         <ul>
            <li><i class="fas fa-check"></i> Everything in Free</li>
            <li><i class="fas fa-check"></i> Unlimited passwords</li>
            <li><i class="fas fa-check"></i> Self-host Option</li>
         </ul>
         <button>Purchase</button>
      </div>
   
      <div class="pricing-card popular">
         <div class="popular-label">MOST POPULAR</div>
         <h3>Free</h3>
         <p class="price">$0 per month</p>
         <hr>
         <ul>
            <li><i class="fas fa-check"></i> Passky Core Features</li>
            <li><i class="fas fa-check"></i> Store up to 100 passwords</li>
            <li>
               <i class="fas fa-check"></i>
               <span>Software 2FA (Aegis, Google Auth, Authy...)</span>
            </li>
            <li><i class="fas fa-check"></i> Hardware 2FA (Yubikey)</li>
            <li><i class="fas fa-check"></i> Self-host Option</li>
         </ul>
         <button>Download</button>
      </div>
   
      <div class="pricing-card">
         <h3>Bulk</h3>
         <p class="price">$1.6 per month</p>
         <p>Buy in bulk, get 20% off</p>
         <hr>
         <ul>
            <li><i class="fas fa-check"></i> Everything in Premium</li>
            <li><i class="fas fa-check"></i> Buy at least 5 license keys</li>
            <li><i class="fas fa-check"></i> Self-host Option</li>
         </ul>
         <button>Purchase</button>
      </div>
   </div>
   </div>
   
<div id="footer"></div>
</body>
</html>