   <!-- Footer -->
   <footer>
      <div class="footer-links">
         <a href="#">Terms of Service</a>
         <a href="#">Privacy Policy</a>
         <a href="#">GDPR</a>
         <a href="#">Cookie Policy</a>
         <a href="#">Data Processing Addendum</a>
      </div>
      <div class="footer-icons">
         <a href="#"><i class="fas fa-gamepad"></i></a>
         <a href="#"><i class="fab fa-github"></i></a>
         <a href="#"><i class="fab fa-twitter"></i></a>
      </div>
      <div class="copyright">
         © 2024 <a href="#">Rabbit Company LLC</a>, All rights reserved.
      </div>
   </footer>